.filter{
    padding: 10px 0;
    p{
        float: left;
        margin-right: 100px;
    }
    a{
        padding: 0 20px;
        text-align: center;
        &.filter-button{
            color: black;
            margin: 0 5px;
            &:hover,&.active{
                border:1px black solid;
                border-radius: 25px;
                text-decoration: none;
                font-weight: bold;
            }
        }
        &.clear{
            float: right;
        }
    }
}